.container {
  background: white;
  display: flex;
  flex-direction: column;
}

/* 
border: 2px dashed black;
align-items: center;
*/

#drag-file {
  background: rgb(200, 218, 228);
  height: 200px;
  width: 600px;

  outline: 2px dashed rgb(161, 159, 159);
  outline-offset: -10px;

  color: black;
  text-align: center;
  box-sizing: border-box;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#drag-file img {
  height: 100px;
  width: 100px;
}

#drag-file:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col {
  padding: 0;
}

#progress-bar {
  width: 600px;
  display: none;
}
